.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 145px;
  z-index: 10;
}
.wrapperUl {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: white;
  font-size: 30px;
  padding: 15px 20px;
  transition: 0.5s all;
}

.ulStyle {
  padding-left: 100px;
  padding-right: 100px;
}

.ulStyle a {
  color: white;
}

.listItem {
  padding-left: 25px;
}

.wrapperUl:hover {
  width: 100%;
  height: 100%;
  background: rgba(76, 68, 68, 0.3);
  border-radius: 50px;
  cursor: pointer;
}

.xIcon:hover {
  background: rgba(76, 68, 68, 0.3);
  border-radius: 100px;
  padding-right: 20px;
}


